ErrorDocument 404 /error/404.html
AddDefaultCharset UTF-8
AddType "text/html; charset=UTF-8" .html
AddType application/x-java-jnlp-file .jnlp
AddType application/x-java-archive-diff .jardiff
AddType application/java-archive .jar

DirectoryIndex index.php FrontPage.html index.html

<Files robots.txt>
Order deny,allow
Allow from all
</Files>

<FilesMatch "\.(ini\.php|lng\.php)$">
Order allow,deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteBase /

RewriteRule ^sitemap\.xml$ index.php?cmd=sitemaps [QSA,PT,L]
RewriteRule ^rssdiff\.xml$ index.php?cmd=rssdiff [QSA,PT,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/\.html$
RewriteRule ^(.+)\.html$ index.php?cmd=read&page=$1 [QSA,PT,L]

<FilesMatch "\.(js|css|xml|gz)$">
Header append Vary: Accept-Encoding
</FilesMatch>

<FilesMatch "\.(js|css)$">
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME} !\.gz$
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule ^.+$ %{REQUEST_URI}.gz
</FilesMatch>

<Files ~ "\.(jnlp|java|rb|bat)$">
  Header set X-Robots-Tag "noindex"
</Files>

<files *.js.gz>
AddType "text/javascript; charset=UTF-8" .gz
</files>
<files *.css.gz>
AddType "text/css" .gz
</files>
AddEncoding x-gzip .gz

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|gz|woff)$">
FileETag none
Header set Cache-Control "max-age=2419200, public"
</FilesMatch>
