# Apache .htaccess for PukiWiki
#
# $Id: .htaccess,v 1.14.2 2006/08/06 23:25:00 upk Exp $
# Copyright (C)
#   2006      PukiWiki Plus! Developers Team
#   2002-2005 PukiWiki Developers Team
#   2001      Originally written by yu-ji
# License: GPL v2 or (at your option) any later version
#
# NOTE: Correct permission of this file 644(or 604)

## Access control by Order/Allow/Deny directives
## needs 'AllowOverride Limit' at httpd.conf

# Prohibit direct access to .htaccess, .htpasswd or others
# (If it's not set by default)
# <FilesMatch "^\.ht">
# 	Order allow,deny
# 	Deny from all
# </FilesMatch>

ErrorDocument 404 /error/404.html
# SetEnv TZ JST-9

AddDefaultCharset UTF-8
AddType "text/html; charset=UTF-8" .html

AddType application/x-java-jnlp-file .jnlp
AddType application/x-java-archive-diff .jardiff
AddType application/java-archive .jar
# Addtype application/pdf .pdf

#Options All -Indexes
#IndexOptions Charset=UTF-8
DirectoryIndex index.php FrontPage.html index.html

<Files robots.txt>
order deny,allow
allow from all
</Files>

# Prohibit direct access
<FilesMatch "\.(ini\.php|lng\.php)$">
	Order allow,deny
	Deny from all
</FilesMatch>

## Authentication to this directory with basic-auth
## needs 'AllowOverride AuthConfig' at httpd.conf
#AuthType Basic
#AuthName      "Authentication required"
#AuthUserFile  /path/to/.htpasswd
#AuthGroupFile /dev/null
#Require       valid-user

#AuthType Digest
#AuthName "PukiWikiAuth"
#AuthDigestProvider file
#AuthUserFile /path/to/.htdigest
#Require valid-user
#BrowserMatch "MSIE" AuthDigestEnableQueryStringHack=On

## Using zlib.output_compression per directory (via .htaccess)
## needs 'AllowOverride Options' at httpd.conf
##
## NOTE:
##   Define PKWK_ZLIB_LOADABLE_MODULE somewhere if you are using
##   PHP extension as loadable module (especially FreeBSD ports)
##   (See BugTrack/738 for detail)
#php_flag zlib.output_compression On

RewriteEngine on
RewriteBase /

# RewriteCond %{REQUEST_URI} ^/(en|PukiWiki|swing/swing[^a-z]).*$
# RewriteRule .* - [G]

# RewriteRule ^Recent\.html$ index.php?cmd=recent [L]
# RewriteRule ^List\.html$ index.php?cmd=list [L]
RewriteRule ^sitemap\.xml$ index.php?cmd=sitemaps [QSA,PT,L]
RewriteRule ^swing-sitemap\.xml$ index.php?cmd=sitemaps&category=Swing [QSA,PT,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/\.html$
RewriteRule ^(.+)\.html$ index.php?cmd=read&page=$1 [QSA,PT,L]

<FilesMatch "\.(js|css|xml|gz)$">
Header append Vary: Accept-Encoding
</FilesMatch>

<FilesMatch "\.(js|css)$">
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME} !\.gz$
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule ^.+$ %{REQUEST_URI}.gz
</FilesMatch>

<files *.js.gz>
AddType "text/javascript; charset=UTF-8" .gz
</files>
<files *.css.gz>
AddType "text/css" .gz
</files>
AddEncoding x-gzip .gz

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|gz|woff)$">
FileETag none
Header set Cache-Control "max-age=2419200, public"
</FilesMatch>
