.k  { color: #008 } /* Keyword */
.c  { color: #800 } /* Comment */
.c1 { color: #800 } /* Comment.Single */
.kt { color: #008 } /* Keyword.Type */
.m  { color: #066 } /* Literal.Number */
.s  { color: #080 } /* Literal.String */
.cm { color: #800 } /* Comment.Multiline */
.nd { color: #066 } /* Literal.String */
.kd { color: #008 } /* Keyword.Declaration */
.n  { color: #606 } /* Keyword.Type */
.nf { color: #606 } /* Keyword.Type */
.na { color: #000 } /* Name.Attribute */


.hll { background-color: #ffffcc }
.err { color: #a61717; background-color: #e3d2d2 } /* Error */

.cp { color: #008080; background-color: #ddffdd } /* Comment.Preproc */
.cs { color: #008800; font-weight: bold } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000; background-color: #ddffdd } /* Generic.Error */
.gh { color: #999999; background-color: #ddffdd } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888; background-color: #ddffdd } /* Generic.Output */
.gp { color: #555555; background-color: #ddffdd } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa; background-color: #ddffdd } /* Generic.Subheading */
.gt { color: #aa0000; background-color: #ddffdd } /* Generic.Traceback */
.kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.kn { color: #009080; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008080; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #009080; font-weight: bold } /* Keyword.Reserved */
.nt { color: #000080; font-weight: bold } /* Name.Tag */
.ow { font-weight: bold } /* Operator.Word */
.w  { color: #bbbbbb; background-color: #ddffdd } /* Text.Whitespace */
.mf { color: #0000FF; background-color: #ddffdd } /* Literal.Number.Float */
.mh { color: #0000FF; background-color: #ddffdd } /* Literal.Number.Hex */
.mi { color: #0000FF; background-color: #ddffdd } /* Literal.Number.Integer */
.mo { color: #0000FF; background-color: #ddffdd } /* Literal.Number.Oct */
.sb { color: #0000FF; background-color: #ddffdd } /* Literal.String.Backtick */
.sc { color: #800080; background-color: #ddffdd } /* Literal.String.Char */
.sd { color: #0000FF; background-color: #ddffdd } /* Literal.String.Doc */
.s2 { color: #0000FF; background-color: #ddffdd } /* Literal.String.Double */
.se { color: #0000FF; background-color: #ddffdd } /* Literal.String.Escape */
.sh { color: #0000FF; background-color: #ddffdd } /* Literal.String.Heredoc */
.si { color: #0000FF; background-color: #ddffdd } /* Literal.String.Interpol */
.sx { color: #0000FF; background-color: #ddffdd } /* Literal.String.Other */
.sr { color: #0000FF; background-color: #ddffdd } /* Literal.String.Regex */
.s1 { color: #0000FF; background-color: #ddffdd } /* Literal.String.Single */
.ss { color: #0000FF; background-color: #ddffdd } /* Literal.String.Symbol */
.il { color: #0000FF; background-color: #ddffdd } /* Literal.Number.Integer.Long */
